@import '../../node_modules/tailwindcss/index.css';
@import '../../node_modules/fumadocs-ui/css/neutral.css';
@import '../../node_modules/fumadocs-ui/css/preset.css';
@import '../../node_modules/fumadocs-openapi/css/preset.css';
